.display{
    display: flex;
    height: 150px;
    line-height: 1;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
}

.display h1, .display h3{
    box-shadow: #2B2523;
    background-color: #2B2523;
    color: #FF4400;
    line-height: 1;
    padding: 0.25em;
}

nav{
    background-color: #2A1F1B !important;
}

nav a{
    color: #FF4400 !important;
}

nav a:hover{
    color: #ea4204 !important;
}

.blog{
    background-color: #2B2523 !important;
}

.display-blog{
    color: #ea4204;
    padding: 1rem;
}

.full-width-image-container, .full-width-image{
    height: 300px !important;
}

.logotipo{
    font-weight: bold;
    font-size: 21px;
    color: #FF4400 !important;
}