.display{
    display: flex;
    height: 150px;
    line-height: 1;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
}

.display h1, .display h3{    
    color: #4DE764;
    line-height: 1;
    padding: 0.25em;
}

nav{
    background-color: rgba(31,41,62, 0.5) !important;
}

nav a{
    color: #4DE764 !important;
}

nav a:hover{
    color: #61ff8a !important;
}

.blog{
    background-color: #1F293E !important;
}

.display-blog{
    color: #4DE764;
    padding: 1rem;
}

.full-width-image-container, .full-width-image{
    height: 400px !important;
}

.logotipo{
    font-weight: bold;
    font-size: 21px;
    color: #4DE764 !important;
}

.card-light-white{
    background-color: #f0f0f0;
}

img.img-card{
    height: 150px;
}

.card-light-pink{
    background-color: #f3dee2;
}

.blog-list-item.is-featured {
    background-color: #f0f0f0;
    border-radius: 0;
}

html{
    background-color: #1F293E;
}

body{
    background-color: #fff;
}

a.has-text-primary, a.has-text-primary:hover, a.has-text-primary:focus {
    color: #1A4725 !important;
    text-decoration: none !important;
}

.margin-top-50_{
    margin-top: -50px !important;
}
